<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions ="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlogcore.txt">
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="asyncDataBase"  type="AsyncWrapper" overflowAction="Block" queueLimit="10000" batchSize="100" timeToSleepBetweenBatches="50">
      <target name="ErrorLog"
              xsi:type="File"
              archiveFileName="C:\LOG\FE_Enterprise_Log_${shortdate}.txt"
              maxArchiveFiles="0"
              archiveAboveSize="10240"
              fileAttributes ="Archive"
              createDirs="True"
              openFileCacheTimeout = "30"
              fileName="C:\logs\FE_Enterprise_Log_${shortdate}.txt"
              layout="${message}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="asyncDataBase" />
  </rules>
</nlog>